.wrapper {
    display: grid;
    grid-template-rows: 150px auto min-content;
    grid-template-columns: auto;
    min-height: 100vh;
}

body {
    margin: 0;
    background-color: #BDB5C0;
}

header {
    grid-row: 1/2;
    grid-column: 1/2;
    
    background-color: #4C3D40;
    border: 2px black solid;
    text-align: left;
}

h2 {
    margin: 1.5rem;
    color: #C8B4D0;
    font-size: 24pt;
}

/*Navigation bar*/
nav li {
    list-style-type: none;
    /*margin: 1rem;*/
    text-align: right;
}

nav a {
    text-decoration: none;
    color: #F6EEF0;
    padding: 25px;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    padding: 25px;
    margin: 0;
}

main {
    grid-row: 2/3;
    grid-column: 1/2;
    margin: 2rem;

    /*border: 2px green solid;*/
}

footer {
    grid-row: 3/4;
    grid-column: 1/2;
    text-align: center;
    background-color: #F6EEF0;

    /*border: 2px blue solid;*/
}