/*General to all pages*/
.wrapper {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    grid-template-columns: auto;
    min-height: 100vh;

}

/*body {
    margin: 0;
}*/

.head {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 5fr
}

header {
    grid-row: 1/2;
    grid-column: 1/2;
    
    background-color: #618f94;
    font-family: "Signika", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "GRAD" 0;
}

header h2 {
    grid-row: 1/2;
    grid-column: 1/2;

    display: grid;
    justify-content: center;
    align-content: center;
    
    color: #2b3e68;
    /*border-radius: 15px;
    background-color: #c5d2ef;*/
    font-size: 24pt;
    text-align: left;
    padding: 15px;
    margin: 1rem;
}

h2 a {
    text-decoration: none;
    color: #2b3e68;
}

main {
    grid-row: 2/3;
    grid-column: 1/2;
    margin: 2rem;
}

footer {
    grid-row: 3/4;
    grid-column: 1/2;
    text-align: center;
    background-color: #b49cd3;
    font-family: Arial, Helvetica, sans-serif;
}

/*Navigation bar*/
nav li {
    list-style-type: none;
    margin: 1rem;
    text-align: right;

    background-color: #296066;
    padding: 10px;
    border-radius: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 12pt;
}

nav ul {
    grid-row: 1/2;
    grid-column: 2/3;

    display: flex;
    flex-wrap: wrap;
    justify-content: right;
  
    padding: 15px;
}

/*HOMEPAGE*/
/*background image in body, encompasses header,main, and footer*/

.homemain {
    display: grid;
    grid-template-rows: 50px 3fr 50px;
    grid-template-columns: 1fr 2fr 1fr;

    font-family: Arial, Helvetica, sans-serif;
}

.bodyhome {
    background-image: url("../images/winter-mountain.jpg");
    margin: 0;
}

.aboutme {
    grid-row: 2/3;
    grid-column: 2/3;
    background-color: #90aaad;
    padding: 30px;
    border-radius: 15px;
}

img {
    float: right;
    border: none;
    margin: .65rem;
}

/*RESUME*/
.resumebody {
    margin: 0;
}
.resumemain {
    background-color: #90aaad;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 4fr 1fr
}

.rmaincontent {
    grid-row: 1/2;
    grid-column: 2/3;
    border: solid;
    padding: 2rem;
    background-color: white;
}

/*PORTFOLIO*/
.articlewrapper article {
        background-color: #E3E8E9;
        border: 1px solid #9DA993;
        padding: 1.3rem; 
        margin: .5rem;
        margin-bottom: 1.5rem;
        border-radius: .8rem;
}

.portfoliomain {
    font-family: Arial, Helvetica, sans-serif;
}

.portfoliobody {
    margin: 0;
}